<?xml version="1.0"?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZetSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Zet_Switch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="IP_Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZetSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Zet_Switch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="IP_Config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZetSwitch.Properties.Settings>
            <setting name="ItemListSize" serializeAs="String">
                <value>228, 139</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>354, 195</value>
            </setting>
            <setting name="NewItemName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImagesPath" serializeAs="String">
                <value>\Data\Images\</value>
            </setting>
            <setting name="ShowWelcomeDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </ZetSwitch.Properties.Settings>
        <Zet_Switch.Properties.Settings>
            <setting name="ItemListSize" serializeAs="String">
                <value>228, 139</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>354, 195</value>
            </setting>
            <setting name="NewItemName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImagesPath" serializeAs="String">
                <value>\Data\Images\</value>
            </setting>
            <setting name="ShowWelcomeDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActLanguage" serializeAs="String">
                <value>cz</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
        </Zet_Switch.Properties.Settings>
        <IP_Config.Properties.Settings>
            <setting name="ItemListSize" serializeAs="String">
                <value>228, 139</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>354, 195</value>
            </setting>
            <setting name="NewItemName" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImagesPath" serializeAs="String">
                <value>\Data\Images\</value>
            </setting>
        </IP_Config.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ZetSwitch.Properties.Settings>
            <setting name="MainMinimumSize" serializeAs="String">
                <value>345, 195</value>
            </setting>
        </ZetSwitch.Properties.Settings>
        <Zet_Switch.Properties.Settings>
            <setting name="MainMinimumSize" serializeAs="String">
                <value>345, 195</value>
            </setting>
        </Zet_Switch.Properties.Settings>
        <IP_Config.Properties.Settings>
            <setting name="MainMinimumSize" serializeAs="String">
                <value>345, 195</value>
            </setting>
        </IP_Config.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
